In [3]:
import json 
import pandas as pd

In [37]:
#step:1 load the json category  file
files = ['IN.json', 'US.json']
cat_data=[]

for file in files:
    with open(file,'r', encoding='utf-8') as f:
        data=json.load(f)
        cat_data.append(data)

In [40]:
#step:2 category mapping

cat_mapping={}
for country_data in (cat_data):
    for item in country_data['items']:
        cat_mapping[int(item['id'])]=item['snippet']['title']

In [53]:
#stpe:3 load csv files and merge them
csv_files = ['in.csv', 'us.csv']
video_df_list = [pd.read_csv(file) for file in csv_files]  # load each CSV
video_df = pd.concat(video_df_list, ignore_index=True)     # merge into one

In [ ]:
#step:4 clean data
video_df.dropna(axis=0)
video_df.drop_duplicates()

In [84]:
# Step 6: Select only required columns
video_df['category_id'] = video_df['category_id'].astype(int)
video_df['category'] = video_df['category_id'].map(cat_mapping)

columns_needed = ['publish_time', 'views', 'likes', 'comment_count', 'category_id', 'category']
video_df = video_df[columns_needed]

# Step 7: Add engagement ratio
video_df.loc[:,'engagement_ratio'] = (video_df['likes'] + video_df['comment_count']) / video_df['views']

# Step 8: Create new file with cleaned data
video_df.to_csv('clean_data.csv', index=False)

,publish_time,views,likes,comment_count,category_id,category,engagement_ratio
0,2017-11-12T12:20:39.000Z,1096327,33966,882,1,Film & Animation,0.031786
1,2017-11-13T05:43:56.000Z,590101,735,0,25,News & Politics,0.001246
2,2017-11-12T15:48:08.000Z,473988,2011,149,24,Entertainment,0.004557
3,2017-11-12T07:08:48.000Z,1242680,70353,2684,23,Comedy,0.058774
4,2017-11-13T01:14:16.000Z,464015,492,66,24,Entertainment,0.001203
...,...,...,...,...,...,...,...
78296,2018-05-18T13:00:04.000Z,1685609,38160,2657,15,Pets & Animals,0.024215
78297,2018-05-18T01:00:06.000Z,1064798,60008,3936,22,People & Blogs,0.060053
78298,2018-05-18T17:34:22.000Z,1066451,48068,3992,24,Entertainment,0.048816
78299,2018-05-17T17:00:04.000Z,5660813,192957,13088,1,Film & Animation,0.036398
78300,2018-05-17T17:09:38.000Z,10306119,357079,144795,20,Gaming,0.048697